.viewContainer{
    background-color: #FFFAEF;
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

.viewBody{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 20px;
}
#viewTitle{
    font-size: 30px;
}

mat-card{
    margin-top: 20px;
}

.nothing{
    padding: 20%;
    font-size: 20px;
}
.mat-card-image:first-child {
    margin-top: -16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.imagePosition{
    padding-left: 20px;
    padding-right: 40px;
}