<div class="profileContainer">
    <div class="profileBody">
        <div class="profileHeader">
            <a id="titleProfile">Tu perfil</a>
            <div class="profileHeaderButtons" *ngIf="isCheckEnterprise">
                <button class="buttonOffer" (click)="goToCreateOffer()">CREAR OFERTA</button>
                <button class="buttonOffer" (click)="goToViewOffer()">VER OFERTAS CREADAS</button>
            </div>
        </div>

        <div class="titleOption">
            <a id="titleForm">Imagen de perfil</a>
        </div>
        <div class="imagenProfile">
            <img [src]="url">
        </div>
        <div class="titleOption">
            <a id="titleForm">Cambiar imagen de perfil</a>
        </div>
        <div class="imageContainer">
            <input type="file" (change)="upload($event)" accept="*.png.jpg" id="inputFile" class="inputFile">
            <label for="inputFile">Selecciona tu imagen</label>
            <button (click)="uploadImage()" class="buttonFile" [disabled]="!enableButtonUpload">SUBIR IMAGEN</button>
        </div>

        <div class="titleOption">
            <a id="titleForm">Modificar datos</a>
            <mat-icon (click)="activeForm()">edit</mat-icon>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitUser()" class="registerForm" *ngIf="isCheck">
            <label>Nombre
                <input class="form-control" type="text" formControlName="name">
            </label>
            <ng-container *ngFor="let error of error_messages.name">
                <div class="error-message"
                    *ngIf="registerForm.get('name').hasError(error.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
                    {{ error.message }}
                </div>
            </ng-container>

            <label>Apellidos
                <input class="form-control" type="text" formControlName="surname">
            </label>
            <ng-container *ngFor="let error of error_messages.surname">
                <div class="error-message"
                    *ngIf="registerForm.get('surname').hasError(error.type) && (registerForm.get('surname').dirty || registerForm.get('surname').touched)">
                    {{ error.message }}
                </div>
            </ng-container>

            <label>DNI/NIF
                <input class="form-control" type="text" formControlName="dni">
            </label>
            <ng-container *ngFor="let error of error_messages.dni">
                <div class="error-message"
                    *ngIf="registerForm.get('dni').hasError(error.type) && (registerForm.get('dni').dirty || registerForm.get('dni').touched)">
                    {{ error.message }}
                </div>
            </ng-container>

            <label>Teléfono
                <input class="form-control" type="text" formControlName="phone">
            </label>
            <ng-container *ngFor="let error of error_messages.phone">
                <div class="error-message"
                    *ngIf="registerForm.get('phone').hasError(error.type) && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">
                    {{ error.message }}
                </div>
            </ng-container>

            <label>Provincia</label>
            <mat-form-field>
                <mat-select formControlName="province">
                    <mat-option *ngFor="let province of provinces" [value]="province.nm"
                        (click)="changeMunicipality(province.id)">{{province.nm}}</mat-option>
                </mat-select>
                <ng-container *ngFor="let error of error_messages.province">
                    <div class="error-message"
                        *ngIf="registerForm.get('province').hasError(error.type) && (registerForm.get('province').dirty || registerForm.get('province').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </mat-form-field>

            <label>Municipio</label>
            <mat-form-field>
                <mat-select formControlName="municipality">
                    <mat-option *ngFor="let municipality of municipalitiesFilter" [value]="municipality">
                        {{municipality}}</mat-option>
                </mat-select>
                <ng-container *ngFor="let error of error_messages.municipality">
                    <div class="error-message"
                        *ngIf="registerForm.get('municipality').hasError(error.type) && (registerForm.get('municipality').dirty || registerForm.get('municipality').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </mat-form-field>

            <label>Email
                <input class="form-control" type="email" formControlName="email">
            </label>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                    <div class="error-message"
                        *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>

            <button type="submit" class="buttonRegister" [disabled]="!registerForm.valid">GUARDAR</button>
        </form>


        <form [formGroup]="registerFormEnterprise" (ngSubmit)="onSubmitEnterprise()" class="registerForm"
            *ngIf="isCheckEnterprise">
            <label>Nombre de la empresa
                <input class="form-control" type="text" formControlName="name">
            </label>
            <ng-container *ngFor="let error of error_messages.name">
                <div class="error-message"
                    *ngIf="registerFormEnterprise.get('name').hasError(error.type) && (registerFormEnterprise.get('name').dirty || registerFormEnterprise.get('name').touched)">
                    {{ error.message }}
                </div>
            </ng-container>

            <label>Identificación fiscal (C.I.F)
                <input class="form-control" type="text" formControlName="cif">
            </label>
            <ng-container *ngFor="let error of error_messages.cif">
                <div class="error-message"
                    *ngIf="registerFormEnterprise.get('cif').hasError(error.type) && (registerFormEnterprise.get('cif').dirty || registerFormEnterprise.get('cif').touched)">
                    {{ error.message }}
                </div>
            </ng-container>

            <label>Teléfono de contacto
                <input class="form-control" type="text" formControlName="phone">
            </label>
            <ng-container *ngFor="let error of error_messages.phone">
                <div class="error-message"
                    *ngIf="registerFormEnterprise.get('phone').hasError(error.type) && (registerFormEnterprise.get('phone').dirty || registerFormEnterprise.get('phone').touched)">
                    {{ error.message }}
                </div>
            </ng-container>

            <label>Provincia</label>
            <mat-form-field>
                <mat-select formControlName="province">
                    <mat-option *ngFor="let province of provinces" [value]="province.nm">{{province.nm}}</mat-option>
                </mat-select>
                <ng-container *ngFor="let error of error_messages.province">
                    <div class="error-message"
                        *ngIf="registerFormEnterprise.get('province').hasError(error.type) && (registerFormEnterprise.get('province').dirty || registerFormEnterprise.get('province').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </mat-form-field>

            <label>Descripción de la empresa
                <textarea class="form-control" id="bigInput" type="text" formControlName="description"></textarea>
            </label>
            <ng-container *ngFor="let error of error_messages.description">
                <div class="error-message"
                    *ngIf="registerFormEnterprise.get('description').hasError(error.type) && (registerFormEnterprise.get('description').dirty || registerFormEnterprise.get('description').touched)">
                    {{ error.message }}
                </div>
            </ng-container>

            <label>Email
                <input class="form-control" type="email" formControlName="email">
            </label>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                    <div class="error-message"
                        *ngIf="registerFormEnterprise.get('email').hasError(error.type) && (registerFormEnterprise.get('email').dirty || registerFormEnterprise.get('email').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>

            <button type="submit" class="buttonRegister" [disabled]="!registerFormEnterprise.valid">GUARDAR</button>
        </form>

        <div class="titleOption">
            <a id="titleChangePassword">Cambiar contraseña</a>
            <mat-icon (click)="activeChangePassword()">edit</mat-icon>
        </div>

        <form [formGroup]="changePassword" (ngSubmit)="onSubmitPassword()" class="registerForm">
            <label>Nueva contraseña
                <input class="form-control" formControlName="password" type="password">
            </label>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message"
                        *ngIf="changePassword.get('password').hasError(error.type) && (changePassword.get('password').dirty || changePassword.get('password').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>

            <label>Repite tu nueva contraseña
                <input class="form-control" formControlName="confirmpassword" type="password">
            </label>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.confirmpassword">
                    <div class="error-message"
                        *ngIf="changePassword.get('confirmpassword').hasError(error.type) && (changePassword.get('confirmpassword').dirty || changePassword.get('confirmpassword').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
                <div class="error-message"
                    *ngIf="!changePassword.get('confirmpassword').errors && changePassword.hasError('passwordNotMatch') && (changePassword.get('confirmpassword').dirty || registerForm.get('confirmpassword').touched)">
                    Las contraseñas no coinciden
                </div>
            </div>
            <button type="submit" class="buttonRegister" [disabled]="!changePassword.valid">CAMBIAR</button>
        </form>
    </div>
</div>