.profileContainer{
    background-color: #FFFAEF;
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

.profileBody{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 20px;
}
label{
    width: 100%;
}
#titleProfile{
    font-size: 30px;
}
.registerForm{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.mat-form-field {
    width: 100%;
}
.buttonRegister{
    background: #28a745;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    margin-top: 20px;
}

#bigInput{
    height: 100px;
}

button:disabled {
    background: grey;
}

.titleOption{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.imagenProfile{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.imagenProfile img{
    border-radius: 20%;
    width: 250px;
    height: 200px;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
}

input[type='file']#inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for='inputFile'] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #28a745;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 10px 40px !important;
    margin-top: 20px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}

.buttonFile{
    background: #28a745;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
}

.profileHeader{
    display: flex;
    justify-content: space-between;
}

.buttonOffer{
    background: #28a745;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-family: sans-serif;
}


@media screen and (max-width: 800px){
    .profileHeaderButtons{
        display: flex;
        flex-flow: column;
    }
}