<p id="titleModal">Recupera tu contraseña</p>
<p id="subtitleModal">Introduce tu email para crear la nueva contraseña de tu cuenta</p>
<form [formGroup]="resetPassword" (ngSubmit)="onSubmit()" class="resetPassword">
    <label>Escribe tu email:
        <input class="form-control" type="email" formControlName="email">
    </label>
    <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message"
                *ngIf="resetPassword.get('email').hasError(error.type) && (resetPassword.get('email').dirty || resetPassword.get('email').touched)">
                {{ error.message }}
            </div>
        </ng-container>
    </div>
    <div class="buttonsModal">
        <button type="submit" class="buttonModal" [disabled]="!resetPassword.valid">ENVIAR</button>
        <button (click)="closeModal()" class="buttonModalClose">CERRAR</button>
    </div>
</form>